@{
    ViewData["Title"] = "Logout";
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">back</a>
<h2>Logout</h2>

<p>You have been logged out successfully.</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to Home</a>